In [92]:
import pandas as pd
import glob
from datetime import datetime

In [93]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [94]:
jsonfile1 = pd.read_json('/kaggle/input/casptone-day4-data/bank_market_cap_1.json')
jsonfile1.head(10)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399
5                        HSBC Holdings PLC                   219.270
6               Agricultural Bank of China                   203.244
7                           Citigroup Inc.                   203.165
8                            Bank of China                   181.469
9                     China Merchants Bank                   122.616

In [95]:
jsonfile1.shape

(70, 2)

In [96]:
jsonfile2 = pd.read_json('/kaggle/input/casptone-day4-data/bank_market_cap_2.json')
jsonfile2.head(10)

                                Name  Market Cap (US$ Billion)
35   Banco Bilbao Vizcaya Argentaria                    60.678
36                   Japan Post Bank                    60.525
37       The Bank of New York Mellon                    59.823
38  Shanghai Pudong Development Bank                    58.796
39           Industrial Bank (China)                    57.388
40         Bank of China (Hong Kong)                    55.449
41                  Bank of Montreal                    53.181
42                   Crédit Agricole                    52.141
43                          DBS Bank                    51.475
44                            Nordea                    51.185

In [97]:
jsonfile2.shape

(35, 2)

In [98]:
columns = ["Name", "Market Cap (US$ Billion)"]

def extract():
    extracted_data = pd.DataFrame(columns=columns)
    for jsonfile in glob.glob("/kaggle/input/casptone-day4-data/*.json"):
        extracted_data = extracted_data._append(extract_from_json(jsonfile), ignore_index=True)
    
    return extracted_data

In [99]:
my_extracted_df = extract()
my_extracted_df

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   390.934
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
100                             Ping An Bank                    37.993
101                       Standard Chartered                    37.319
102                     United Overseas Bank                    35.128
103                                QNB Group                    33.560
104                              Bank Rakyat                    33.081

[105 rows x 2 columns]

In [100]:
dataframe = pd.read_csv('/kaggle/input/casptone-day4-data/exchange_rates.csv', index_col=0)
dataframe.head(10)

         Rates
AUD   1.297088
BGN   1.608653
BRL   5.409196
CAD   1.271426
CHF   0.886083
CNY   6.483139
CZK  21.510117
DKK   6.119757
EUR   0.822504
GBP   0.732398

In [101]:
def read_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process, index_col=0)
    return dataframe

def extract_csv():
    for csvfile in glob.glob('/kaggle/input/casptone-day4-data/*.csv'):
        extracted_csv_data = pd.DataFrame(read_csv(csvfile))
    return extracted_csv_data

In [102]:
my_csv_extracted = extract_csv()
my_csv_extracted.head(10)

         Rates
AUD   1.297088
BGN   1.608653
BRL   5.409196
CAD   1.271426
CHF   0.886083
CNY   6.483139
CZK  21.510117
DKK   6.119757
EUR   0.822504
GBP   0.732398

In [103]:
exchane_rate = float(my_csv_extracted.loc["GBP"][0])
exchane_rate

0.7323984208000001

In [104]:
def transform(data):
    data["Market Cap (US$ Billion)"] = round(data["Market Cap (US$ Billion)"] * exchane_rate, 3)
    data.rename(columns = {"Name": "Name", "Market Cap (US$ Billion)" : "Market Cap (GBP Billion)"}, inplace=True, errors= "raised")
    return data

In [105]:
my_transform_df = transform(my_extracted_df)
my_transform_df.head(10)

                                      Name  Market Cap (GBP Billion)
0                           JPMorgan Chase                   286.319
1  Industrial and Commercial Bank of China                   252.834
2                          Bank of America                   238.272
3                              Wells Fargo                   225.588
4                  China Construction Bank                   188.519
5                        HSBC Holdings PLC                   160.593
6               Agricultural Bank of China                   148.856
7                           Citigroup Inc.                   148.798
8                            Bank of China                   132.908
9                     China Merchants Bank                    89.804

In [106]:
filename = "bank_market_cap_in_gbp.csv"

def load(filename, data):
    data.to_csv(filename, index=False)

In [107]:
logfile = "bmc_log.txt"

def log(message):
    timestamp = datetime.now().strftime("Date: %h %d, %Y - Time: %H:%M:%S")
    with open(logfile, "a") as textfile:
        textfile.write(f"{timestamp}:{message}.\n")

In [108]:
log("ETL Job Started")
log("Extract Phase Started")

In [109]:
extractedData = extract()
extractedData.head(5)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [110]:
log("Extract Phase Ended")
log("Transform Phase Started")

In [111]:
transformData = transform(extractedData)
transformData.head(5)

                                      Name  Market Cap (GBP Billion)
0                           JPMorgan Chase                   286.319
1  Industrial and Commercial Bank of China                   252.834
2                          Bank of America                   238.272
3                              Wells Fargo                   225.588
4                  China Construction Bank                   188.519

In [112]:
log("Transform Phase Ended")
log("Load Phase Started")

In [113]:
load(filename, transformData)

In [114]:
log("Load Phase Ended")